main {
  background: #000;
  color: #FFF;
}

header {
  text-align: center;
  padding: 3rem;
}

.search {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.searchForm {
  display: flex;
  align-items: center;
  justify-content: center;
}

form, textarea {
  width: 100%;
}

textarea {
  line-height: 1.5;
}

form .group {
  margin: 1rem 0;
}

input:not([type=file]), select, textarea {
  font-size: inherit;
  border: none;
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
  font-family: inherit;
  resize: vertical;
}

.photos {
  text-align: center;
}

.journal .wrapper, .results .wrapper, .options .wrapper {
  align-items: center;
}

.journal a, .results a {
  color: #AAA;
}

.entry p {
  line-height: 1.5;
  margin-bottom: 2rem;
}

.moods {
  text-align: center;
}

.tabs {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #444;
}

.tabs ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tabs li {
  margin: 0 1rem;
  flex: 1;
  text-align: center;
  padding: 2rem;
}

.tabs li.active {
  background: #222;
}

.tabs a {
  color: inherit;
}